* {
  margin: 0;
  padding: 0;
}

.header-bodega {
  font-size: 45px;
  background-color: #94dbcd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Square Peg", cursive;
}
.header-bodega .div-logo {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}
.header-bodega .div-logo .header-logo {
  display: flex;
  justify-items: flex-start;
}
.header-bodega .nav-item {
  margin-right: 2rem;
  color: black;
}
.header-bodega .list-element-bodega:hover {
  transform: scale(1.3);
  transition: all 0.3s;
  color: black;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
body main .section-bodega {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  height: 600px;
  overflow: hidden;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 350px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-bodega {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 350px;
  }
}
body main .section-bodega .bodega-article {
  background-color: rgba(34, 31, 31, 0.631372549);
  margin: 20rem;
  padding: 6rem 4rem;
  border-radius: 0.5rem;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: justify;
  font-family: "Hind", sans-serif;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega .bodega-article {
    background-color: rgba(34, 31, 31, 0.631372549);
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    font-family: "Hind", sans-serif;
    max-height: 320px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-bodega .bodega-article {
    background-color: rgba(34, 31, 31, 0.631372549);
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    font-family: "Hind", sans-serif;
    max-height: 320px;
  }
}
body main .section-bodega h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 1px 2px 5px rgb(0, 0, 0);
  color: white;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega h1 {
    font-size: 20px;
    text-align: center;
  }
}
body main .section-bodega h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 1px 2px 5px rgb(0, 0, 0);
  color: white;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega h2 {
    font-size: 14;
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  body main .section-bodega p {
    font-size: 10px;
    max-height: 350px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-bodega p {
    font-size: 12px;
    max-height: 400px;
  }
}
body main .section-bodega .bodega-img {
  position: absolute;
  z-index: -1;
}
body main .section-bodega .bodega-img .foto-portada-bodega {
  display: flex;
  width: 100%;
  word-wrap: normal;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega .bodega-img .foto-portada-bodega {
    display: none;
  }
}
body main .section-bodega .bodega-img .foto-portada-bodega-mobile {
  display: none;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega .bodega-img .foto-portada-bodega-mobile {
    display: block;
    width: 100%;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
body main .section-historia {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  height: 600px;
  overflow: hidden;
}
@media only screen and (max-width: 450px) {
  body main .section-historia {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 350px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-historia {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 350px;
  }
}
body main .section-historia .historia-article {
  background-color: rgba(34, 31, 31, 0.631372549);
  margin: 20rem;
  padding: 6rem 4rem;
  border-radius: 0.5rem;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: justify;
  font-family: "Hind", sans-serif;
}
@media only screen and (max-width: 450px) {
  body main .section-historia .historia-article {
    background-color: rgba(34, 31, 31, 0.631372549);
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    font-family: "Hind", sans-serif;
    max-height: 320px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-historia .historia-article {
    background-color: rgba(34, 31, 31, 0.631372549);
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    font-family: "Hind", sans-serif;
    max-height: 320px;
  }
}
body main .section-historia h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 1px 2px 5px rgb(0, 0, 0);
  color: white;
}
@media only screen and (max-width: 450px) {
  body main .section-historia h1 {
    font-size: 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  body main .section-historia p {
    font-size: 10px;
    max-height: 350px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-historia p {
    font-size: 12px;
    max-height: 400px;
  }
}
body main .section-historia .historia-img {
  position: absolute;
  z-index: -1;
}
body main .section-historia .historia-img .foto-portada-historia {
  display: flex;
  width: 100%;
  word-wrap: normal;
}
@media only screen and (max-width: 450px) {
  body main .section-historia .historia-img .foto-portada-historia {
    display: none;
  }
}
body main .section-historia .historia-img .foto-portada-historia-mobile {
  display: none;
}
@media only screen and (max-width: 450px) {
  body main .section-historia .historia-img .foto-portada-historia-mobile {
    display: block;
    width: 100%;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
body main .section-bodega-bis {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  height: 600px;
  overflow: hidden;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega-bis {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 350px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-bodega-bis {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 350px;
  }
}
body main .section-bodega-bis .bodega-bis-article {
  background-color: rgba(34, 31, 31, 0.631372549);
  margin: 20rem;
  padding: 6rem 4rem;
  border-radius: 0.5rem;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: justify;
  font-family: "Hind", sans-serif;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega-bis .bodega-bis-article {
    background-color: rgba(34, 31, 31, 0.631372549);
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    font-family: "Hind", sans-serif;
    max-height: 320px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-bodega-bis .bodega-bis-article {
    background-color: rgba(34, 31, 31, 0.631372549);
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    font-family: "Hind", sans-serif;
    max-height: 320px;
  }
}
body main .section-bodega-bis h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 1px 2px 5px rgb(0, 0, 0);
  color: white;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega-bis h1 {
    font-size: 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  body main .section-bodega-bis p {
    font-size: 10px;
    max-height: 350px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-bodega-bis p {
    font-size: 12px;
    max-height: 400px;
  }
}
body main .section-bodega-bis .bodega-bis-img {
  position: absolute;
  z-index: -1;
}
body main .section-bodega-bis .bodega-bis-img .foto-portada-bodega-bis {
  display: flex;
  width: 100%;
  word-wrap: normal;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega-bis .bodega-bis-img .foto-portada-bodega-bis {
    display: none;
  }
}
body main .section-bodega-bis .bodega-bis-img .foto-portada-bodega-bis-mobile {
  display: none;
}
@media only screen and (max-width: 450px) {
  body main .section-bodega-bis .bodega-bis-img .foto-portada-bodega-bis-mobile {
    display: block;
    width: 100%;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
body main .section-producto {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  height: 600px;
  overflow: hidden;
}
@media only screen and (max-width: 450px) {
  body main .section-producto {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 350px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-producto {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 350px;
  }
}
body main .section-producto .producto-article {
  background-color: rgba(34, 31, 31, 0.631372549);
  margin: 20rem;
  padding: 6rem 4rem;
  border-radius: 0.5rem;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: justify;
  font-family: "Hind", sans-serif;
}
@media only screen and (max-width: 450px) {
  body main .section-producto .producto-article {
    background-color: rgba(34, 31, 31, 0.631372549);
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    font-family: "Hind", sans-serif;
    max-height: 320px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-producto .producto-article {
    background-color: rgba(34, 31, 31, 0.631372549);
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    font-family: "Hind", sans-serif;
    max-height: 320px;
  }
}
body main .section-producto h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 1px 2px 5px rgb(0, 0, 0);
  color: white;
}
@media only screen and (max-width: 450px) {
  body main .section-producto h1 {
    font-size: 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  body main .section-producto p {
    font-size: 10px;
    max-height: 350px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-producto p {
    font-size: 12px;
    max-height: 400px;
  }
}
body main .section-producto .producto-img {
  position: absolute;
  z-index: -1;
}
body main .section-producto .producto-img .foto-portada-producto {
  display: flex;
  width: 100%;
  word-wrap: normal;
}
@media only screen and (max-width: 450px) {
  body main .section-producto .producto-img .foto-portada-producto {
    display: none;
  }
}
body main .section-producto .producto-img .foto-portada-producto-mobile {
  display: none;
}
@media only screen and (max-width: 450px) {
  body main .section-producto .producto-img .foto-portada-producto-mobile {
    display: block;
    width: 100%;
  }
}
body main .contenedor-galeria {
  border: 5px;
  padding: 15px;
  color: #94dbcd;
  background-color: #94dbcd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 15px;
}
@media only screen and (max-width: 450px) {
  body main .contenedor-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 220px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .contenedor-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 240px;
  }
}
body main .contenedor-galeria .foto-galeria:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .contenedor-galeria .foto-galeria {
    grid-column: span 1;
    grid-row: span 1;
  }
}
body main .contenedor-galeria .foto-galeria .imagen-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.85);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.85);
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .contenedor-galeria .foto-galeria .imagen-galeria {
    grid-column: span 1;
    grid-row: span 1;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
body main .section-contacto {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  height: 600px;
  overflow: hidden;
}
@media only screen and (max-width: 450px) {
  body main .section-contacto {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 350px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  body main .section-contacto {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 350px;
  }
}
body main .section-contacto h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 1px 2px 5px rgb(0, 0, 0);
  color: white;
}
@media only screen and (max-width: 450px) {
  body main .section-contacto h1 {
    font-size: 20px;
    text-align: center;
  }
}
body main .section-contacto .contacto-img {
  position: absolute;
  z-index: -1;
}
body main .section-contacto .contacto-img .foto-portada-contacto {
  display: flex;
  width: 100%;
  word-wrap: normal;
}
@media only screen and (max-width: 450px) {
  body main .section-contacto .contacto-img .foto-portada-contacto {
    display: none;
  }
}
body main .section-contacto .contacto-img .foto-portada-contacto-mobile {
  display: none;
}
@media only screen and (max-width: 450px) {
  body main .section-contacto .contacto-img .foto-portada-contacto-mobile {
    display: block;
    width: 100%;
  }
}

footer {
  margin-top: auto;
}
@media only screen and (max-width: 450px) {
  footer {
    margin-top: auto;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
  footer {
    margin-top: auto;
  }
}

.footer-bodega {
  background-color: #94dbcd;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.redes-footer {
  display: flex;
  width: 60px;
  justify-content: space-around;
  padding-right: 25px;
}
.redes-footer:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

/*# sourceMappingURL=style.css.map */
