footer {
    margin-top: auto;

    @media only screen and (max-width:450px) {
        margin-top: auto;
    }

    @media only screen and (min-width:450px) and (max-width:1200px) {
        margin-top: auto;
    }
}

.footer-bodega {
    background-color: #94dbcd;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.redes-footer {
    &:hover {
        transform: scale(1.2);
        transition: all 0.3s;
    }

    display: flex;
    width: 60px;
    justify-content: space-around;
    padding-right: 25px;
}