@import '../base/estilos';
@import '../base/mapas';

.header-bodega {
    font-size: map-get($header, font-size-header);
    background-color: map-get($header, bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Square Peg', cursive;

    .div-logo {
        margin: 5px;
        padding: 5px;
        display: flex;
        justify-content: flex-start;

        .header-logo {
            display: flex;
            justify-items: flex-start;
        }
    }

    .nav-item {
        margin-right: 2rem;
        color: map-get($header, nav-color);
    }

    .list-element-bodega {
        &:hover {
            transform: scale(1.3);
            transition: all 0.3s;
            color: map-get($header, list-element-bodega);
        }

    }


}